.gallery-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.gallery-item {
  width: 32.6%;
  padding-left: 0;
  padding-right: 0;
  margin: 3px;
  border-radius: 10px;
}
